<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samplecollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.samplecollection.permission.READ_PROVIDER"
        android:description="@string/permdesc_readExamProvider"
        android:label="@string/permlab_readExamProvider"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.samplecollection.permission.WRITE_PROVIDER"
        android:description="@string/permdesc_writeExamProvider"
        android:label="@string/permlab_writeExamProvider"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleCollection">
        <activity android:name=".RecyclerActivity"
            android:label="RecyclerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".ThreadActivity"
            android:label="ThreadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestAPIActivity"
            android:label="RestAPIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProviderExamActivity"
            android:label="ProviderExamActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TemplateActivity"
            android:label="Template Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneBookDBActivity"
            android:label="PhoneBookDB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ExamProvider"
            android:authorities="com.example.samplecollection.ExamProvider"
            android:exported="true"
            android:readPermission="com.example.samplecollection.permission.READ_PROVIDER"
            android:writePermission="com.example.samplecollection.permission.WRITE_PROVIDER" />
        <provider
            android:name=".PhoneBookProvider"
            android:authorities="com.example.samplecollection.phonebookprovider" />
    </application>

</manifest>